/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .card-marseille img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin:0;
    margin-top:5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

/* header */

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

/* Logo */

.logo-img {
    height: 79px;
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.booki {
    height: 19px;
    width: 61.09px;
}

/* Nav Hébergements / Activité */

.hebergement-activite {
    width: 244px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}

.hebergement-activite :hover{
    line-height: 20px; 
}

#afficher-plus {
    font-weight: 700;
    font-size: 18px;
    margin-top: 35px;
}

.conteneur-hebergement-activite {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteneur-hebergement-activite:hover {
    border-top: solid #0065FC;
}

.bouton-nav, .bouton-nav {
    border-width: 0;
    height: 30px;
    background-color: white;
    box-sizing: content-box;
    display: flex;
    align-items: end;
}

.bouton-nav:hover, .bouton-nav:hover {
    color: #0065FC;
}

/* Panneau d'information */

.section-info {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* Titre et en-tête */

h1, .section-title, #activites-marseille {
    font-weight:700;
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

/* Rechercher */

#barre-recherche, h1, #centre-ville-nature {
    display: flex;
    margin-left: 50px;
    margin-right: 15px;
    max-width: 1440px;
}

#barre-recherche input {
    width: 100%;
    min-width: 100%;
}

#localisation {
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 16px 23px 16px 23px ;
}

#localisation-input, #localisation-input :focus {
    border: solid #F2F2F2;
    border-width: 0.5px 0 0.5px 0;
    padding: 16px 0px 16px 16px;
    font-weight: 700;
    font-size: 18px;
    outline:0;
    min-width:200px;
}

::placeholder {
    color:black;
}

#bouton-recherche {
    border-radius: 0px 15px 15px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
}

#loupe-recherche {
    display: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: 0px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
}

/* Filtres */

.filtres {
    display: flex;
    font-weight: 700;
    max-width: 100%;
    margin-top: 20px;
    flex-direction: row;
}

.conteneur-bouton {
    display: flex;
    flex-direction: row;
}

.titre-filtres {
    font-weight: 700;
    margin-left: 50px;
    display:block;
}

.bouton-filtre:hover, #bouton-info:hover {
    background-color: #DEEBFF;
}

.filtres img, #localisation img {
    max-width: 22px;
    max-height: 22px;
}

.bouton-filtre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border: solid 1px #F2F2F2;
    background-color: white;
    font-weight: 700;
    font-size: 17px;
    height: 50px;
    width: 162px;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#bouton-info-img {
    padding-left: 3px;
    padding-right: 3px;
}

.premiere-ligne, .deuxieme-ligne {
    display: flex;
    flex-direction: row;
}

/* panneau d'information */

#bouton-info {
    border-radius: 20px;
    height:25px;
    border: 0.5px solid #D9D9D9;
    background-color: white;
    margin-right:10px;
}

#bouton-info img {
    width: 10px;
    max-height: 10px;
    border-radius: 10px;    
}

#panneau-info {
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px 0 50px;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partie hébergement */

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards .card {
    box-sizing: border-box;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.hebergements-cards > a {
    margin-top: 33px;
}

.hebergements-cards .card img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Partie populaires */


.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 160px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activité Marseille ***********/

.marseille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.card-marseille {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-right: 15px;
    margin-left: 15px;
    width:300px;
}

.card-marseille img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-marseille-content {
    height:15%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.marseille-partie {
    padding:15px;
}

#activites-marseille {
    margin-left: 15px;
}

/* footer */

footer {
    margin-top: 20px;
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.en-tete-titre {
    font-weight: 700;
    font-size: 18px;
    margin-left: 40px;
}

.element-footer {
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer > div {
    width:calc(100% / 3);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-marseille img {
        width: 100%;
        height: 75%;
    }

    .card-marseille-content {
        height: 25%;
    }

    .filtres {
        flex-direction: column;
    }

    .conteneur-bouton {
        display: flex;
        flex-direction: row;
    }
    .conteneur-bouton {
        margin-left: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header {
        flex-direction: column;
    }

    .hebergement-activite {
        margin:0px;
        width:100%;
        justify-content: space-evenly;
    }

    .logo-img {
    padding: 0px;
    justify-content: center;
    }
        
    .conteneur-hebergement-activite:hover {
        border-top: hidden;
    }

    .hebergement-activite > a {
        width: 50%;
    }

    .hebergement-activite > a:hover {
        border-bottom:3px solid #0065FC;
        height:35px;
    }

    .conteneur-hebergement-activite {
        width:100%;
        justify-content: center;
        padding-bottom:10px;
    }

    .bouton-filtre {
        flex:0 0 35%;
        gap:10px;
    }

    footer {
        display: block;
    }

    footer > div {
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
    }

    .marseille {
        display: block;
        margin-right: 30px;
    }

    .card-marseille {
        width: 100%;
        height: 200px;
    }

    .card img, .card-marseille img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .hebergements {
        justify-content: space-around;
    }

    .hebergements-cards, .populaires-cards, .hebergements-cards > a {
        align-items: center;
        justify-content: center;
        display: block;
    }

    .hebergements-cards .card, .populaires-cards .card {
        height:55%;
        flex-direction: column;
    }
    
    .card-content {
        height:45%;
    }

    .hebergements-cards .card {
        max-width: none;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .main-container {
        padding:0px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0px;
    }

    .marseille .card-marseille {
        margin-bottom: 20px;
    }

    .filtres {
        margin-right:20px;
        display: flex;
        flex-wrap: wrap;
    }

    .conteneur-bouton {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #panneau-info, .titre-filtres, #barre-recherche, h1, #centre-ville-nature {
        margin-left: 20px;
    }

    .section-info, .conteneur-bouton {
        margin:0px;
    }

    #bouton-recherche {
        display:none;
    }

    #loupe-recherche {
        display:flex;
    }

    #localisation {
        padding: 12px 19px 12px 19px ;
    }
}
